block vars
// Se nenhum titulo for passado pelo render pegará o nome do app
-var  title = name || _APP_INFO.appName

html(lang="pt")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        block headCSS
        //-CSS
        link(rel="stylesheet", href=`https://fonts.googleapis.com/icon?family=Material+Icons?v=${_APP_INFO.version}`)
        link(rel="stylesheet", href=`/css/materialize.css?v=${_APP_INFO.version}` )
        link(rel="stylesheet", href=`/css/style.css?v=${_APP_INFO.version}`)

    body.blue-grey.lighten-5
           
        block navBar
            include ../partials/nav.pug
        // mensagens para o user
        include ../partials/msg.pug
        block content

    footer
        .page-footer.deep-purple.darken-4
            .container
                .row
                    .col.l6.s12
                        h5.white-text basicNodeApp
                    .col.l3.s12
                       h5.white-text basicNodeApp
                    .col.l3.s12
                        h5.white-text basicNodeApp
            .footer-copyright
                .container Isaias Francisco dos Santos
        block footerJS
            script(src=`https://code.jquery.com/jquery-2.1.1.min.js?v=${_APP_INFO.version}`)
            script(src=`/js/materialize.js?v=${_APP_INFO.version}`)
            script(src=`/js/init.js?v=${_APP_INFO.version}`)
